<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Utils | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../">xxEasterTextUtils.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
      </nav>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hello there!</strong> Welcome to the Text Utils website!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <div class="container container-fluid">
        <h1>Welcome to the Text Analyzer!</h1>
        <h2></h2>
        <div class="mb-3">
            <form action="/analyze/" method="POST"> {% csrf_token %}
                <label for="exampleFormControlInput1" class="form-label">Enter the text you want to analyze below:</label>
                <textarea class="form-control" id="exampleFormControlInput1" name="text" style="margin: 0px; width: 800px; height: 90px;"></textarea><br/>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Remove Special Characters</label>
                    <input type="checkbox" name="removechar" class="form-check-input" id="flexSwitchCheckDefault"></input>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Capitalize First Character</label>
                    <input type="checkbox" name="capitalizefirst" class="form-check-input" id="flexSwitchCheckDefault"></input>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Capitalize Entire Text</label>
                    <input type="checkbox" name="capitalizeall" class="form-check-input" id="flexSwitchCheckDefault"></input>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Remove New Lines</label>
                    <input type="checkbox" name="newlineremove" class="form-check-input" id="flexSwitchCheckDefault"></input>
                </div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Remove Spaces</label>
                    <input type="checkbox" name="spaceremove" class="form-check-input" id="flexSwitchCheckDefault"></input>
                </div>
                <br/><br/><button type="submit" class="btn btn-primary"> Analyze Text</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>